extends layout

block content
h2(class="h2") My Interests
p(class="p")These are some of the things that I'm interested in.

div(class="interests")
  div(class="container")
    div(class="row")
    
    each interest in insterests
      div(class="card col-sm-6")  
        a(href="/interests/#{interest.id}")
          img(src="#{interest.image}") 
          h2(class="noselect") #{interest.title}
          h5(class="noselect") #{interest.reason}
