doctype html
html
  head
    title MyBlog
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="header")
      div(class="container")
          div(class="nav")
            ul 
              - if (#{url} !== '/')
                <li class="pull-left">My Blog</li>
              - else 
                <li class="pull-left link">My Blog</li>

    block content

    script(rel='stylesheet', src='/javascripts/animate.js')
    script(src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript")